<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.broughty.btts.servlets.HelloGaeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>football fixtures</description>
        <display-name>fixtures</display-name>
        <servlet-name>WeeksFixturesServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.WeeksFixturesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeeksChoicesServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.WeeksChoicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReminderServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.ReminderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalSelectionsServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.FinalSelectionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.MaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailResultsServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.EmailResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsReceivingServlet</servlet-name>
        <servlet-class>com.broughty.btts.servlets.SmsReceivingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>com.broughty.btts.servlets.filters.SimpleCorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>SmsReceivingServlet</servlet-name>
        <url-pattern>/sms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeksFixturesServlet</servlet-name>
        <url-pattern>/fixtures</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>EmailResultsServlet</servlet-name>
        <url-pattern>/emailresults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeksChoicesServlet</servlet-name>
        <url-pattern>/choices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReminderServlet</servlet-name>
        <url-pattern>/reminders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalSelectionsServlet</servlet-name>
        <url-pattern>/selections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceServlet</servlet-name>
        <url-pattern>/maintenance</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>summary.jsp</welcome-file>
    </welcome-file-list>
</web-app>
