<!-- choices-controller.js -->
<div class="container">


<div class="pure-g">
<div class="pure-u-1">

<div class="table">

    <div class="table">
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Player</th>
                <th>Week</th>
                <th>Choice One</th>
                <th>Choice Two</th>
                <th>Choice Three</th>
                <th>Choice Four</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{choice.playerName.name}}</td>
                <td>{{selectedWeekNumber}}</td>
                <td>{{choice1}}</td>
                <td>{{choice2}}</td>
                <td>{{choice3}}</td>
                <td>{{choice4}}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>


<div class="alert">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}

    </alert>
</div>


<form class="pure-form pure-form-aligned" ng-submit="postChoices()">
<fieldset>
<div class="pure-control-group">
    <label for="week">Week</label>
    <select id="week" name="week">
        <option selected>{{selectedWeekNumber}}
        </option>
    </select>
</div>
<div class="pure-control-group">
    <label>Player</label>

    <select name="player" ng-model="choice.playerName" ng-options="player.name for player in players" ng-change="getPlayerChoices()">
    </select>

</div>
<div class="pure-control-group">
<label for="choice1">Choice One</label>
<select id="choice1" name="choice1" ng-model="choice1" ng-options="fixture for fixture in fixturesSimple" >
</select>
</div>
<div class="pure-control-group">
<label for="choice2">Choice Two</label>
<select id="choice2" name="choice2" ng-model="choice2" ng-options="fixture for fixture in fixturesSimple">
</select>
</div>
<div class="pure-control-group">
<label for="choice3">Choice Three</label>
<select id="choice3" name="choice3" ng-model="choice3" ng-options="fixture for fixture in fixturesSimple">
</select>
</div>
<div class="pure-control-group">
<label for="choice4">Choice Four</label>
<select id="choice4" name="choice4" ng-model="choice4" ng-options="fixture for fixture in fixturesSimple">
</select>
</div>
<div class="pure-controls">
    <button class="pure-button" value="Post Choices">Post Choices
    </button>
</div>
</fieldset>
</form>
</div>
</div>

<h1>Fixtures for {{currentWeek.startDate | date:'dd-MM-yy'}} to {{currentWeek.endDate | date:'dd-MM-yy'}} </h1>

<div class="pure-g">
    <div class="pure-u-1">
        <div class="table">
            <table class="pure-table pure-table-bordered">
                <thead>
                <th>League</th>
                <th>Home</th>
                <th>Away</th>
                <th>Date</th>
                </thead>
                <tbody>
                <tr data-ng-repeat="fixture in fixtures | orderBy:['id']:true"
                    ng-class-odd="'pure-table-odd'">
                    <td>{{fixture.homeTeam}}</td>
                    <td>{{fixture.awayTeam}}</td>
                    <td>{{fixture.date | date:'dd-MM-yy HH:mm'}}</td>
                    <td>{{fixture.type}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</div>
