<!-- take the LeagueResultsController -->
<div class="container">
    <br>

    <div class="table">
        <table class="pure-table pure-table-bordered">
            <thead>
            <th>Player</th>
            <th>Points</th>
            <th>Goals</th>
            <th>Results</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="player in allScores | orderBy:['total','bttsCount', 'playerName']:true" ng-class-odd="'pure-table-odd'"
                    ng-click="showPlayer(player.playerName)">
                    <td>{{player.playerName}}</td>
                    <td>{{player.total}}</td>
                    <td>{{player.bttsCount}}</td>
                    <td>{{player.points}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <br>

    <div id="refresh-tables">

    <form class="pure-form pure-form-aligned" ng-submit="refreshResults()">
    <fieldset>
    <div class="pure-controls">
        <button class="pure-button" value="Scan scores">Scan scores</button>
    </div>
    </fieldset>
    </form>

    </div>
    <div class="alert">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}

        </alert>
    </div>
    <div id="graphit">
    </div>
    <br>


</div>